/* Reset Css */
@import "./reset.css";
/* General Variables */
:root {
  --body-color: rgba(242, 244, 248, 1);
  --fonts-color: rgba(29, 33, 33, 1);
  --header-color: rgba(255, 255, 255, 1);
  --box-shadows: rgba(0, 0, 0, 0.18);
  --avatar-color: rgba(145, 0, 173, 1);
  --welcome-color: rgba(223, 239, 253, 1);
  --grey-dark-1: rgba(75, 83, 83, 1);
  --light-silver: rgba(216, 216, 216, 1);
  --azure-radiance: rgba(0, 115, 233, 1);
  --botticelli: rgba(211, 219, 231, 1);
  --width-standard-content: 70vw;
  --height-nav: 5vh;
}
/* general CSS rules */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--fonts-color);
  margin: 0;
  background-color: var(--body-color);
  letter-spacing: -0.09px;
}
section {
  margin: 25px 0px 0px 0px;
}
input {
  box-sizing: border-box;
  border: 1px solid var(--botticelli);
  border-radius: 3px;
  height: 35px;
  width: 100%;
}
textarea {
  box-sizing: border-box;
  border: 1px solid var(--botticelli);
  border-radius: 3px;
  width: 100%;
}
a {
  text-decoration: none;
}
nav a:hover {
  border-bottom: 3px solid var(--azure-radiance);
}
/* Css rules to the Header section */
header {
  height: var(--height-nav);
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18);
  background-color: var(--header-color);
}
header nav {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
nav ul {
  width: var(--width-standard-content);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}
nav ul li {
  padding-right: 4%;
  height: 100%;
  display: flex;
  align-items: center;
}
.icon-menu {
  line-height: 16px;
}
nav ul li:first-child {
  padding-right: 10%;
}
nav ul li:last-child {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav ul li ul {
  position: fixed;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--header-color);
  z-index: 1;
  right: -99999em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
nav ul li ul li {
  padding: 1vw;
}
nav ul li:hover > ul {
  right: auto;
  margin-top: 15vh;
  max-width: 20%;
}
.content-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.content-avatar span {
  width: 25px;
  height: 25px;
  padding-top: 2px;
  border-radius: 50%;
  font-size: 11px;
  text-align: center;
  background: var(--avatar-color);
  color: var(--header-color);
}
.burger {
  display: none;
}

/* Css rules to the Welcome section */
.welcome {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: calc(var(--height-nav) + 25px);
}
.welcome div {
  width: var(--width-standard-content);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 21px 13px 18px;
  background-color: var(--welcome-color);
  letter-spacing: -0.08px;
  line-height: 19px;
  font-size: 14px;
}
.welcome div span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: var(--grey-dark-1);
  border-radius: 50%;
  height: 17px;
  width: 17px;
  color: var(--light-silver);
  padding: 2px;
  cursor: pointer;
}
.welcome .btn-close {
  border: none;
  background-color: transparent;
}
.welcome-inactive {
  display: none;
}

/* Css rules to the title-top-news section */
.title-top-news {
  display: flex;
  justify-content: center;
  transition: all 300ms;
}
.title-top-news div {
  display: flex;
  width: var(--width-standard-content);
  align-items: center;
  font-size: 30px;
  letter-spacing: -0.16px;
  line-height: 41px;
}
.title-top-news-without-welcome-section {
  margin-top: calc(var(--height-nav) + 25px);
}
.top-news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.top-news .tops-news-container {
  display: grid;
  width: var(--width-standard-content);
  grid-template-columns: repeat(2, 33vw);
  column-gap: 4vw;
  row-gap: 110px;
  font-size: 21px;
  letter-spacing: -0.11px;
  line-height: 28px;
  background-color: var(--header-color);
  padding-bottom: 3%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}
.news-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
  width: 403px;
  padding: 10% 0px 0px 0px;
}
.news-item-image {
  text-align: center;
}
.news-item-image img {
  width: 100%;
}
.news-item h3 {
  font-weight: 600;
  margin: 20px 0px 20px 0px;
}
.news-item p {
  font-size: 16px;
  letter-spacing: -0.09px;
  line-height: 22px;
}
.view-more-stories {
  display: flex;
  justify-content: center;
  margin: 34px 0px 81px 0px;
}
.view-more-stories button {
  color: var(--header-color);
  height: 40px;
  width: 171px;
  border: 1px solid var(--azure-radiance);
  border-radius: 2px;
  background-color: var(--azure-radiance);
}
.subscribe img {
  width: 100%;
}
.title-contact-us {
  font-size: 30px;
  letter-spacing: -0.16px;
  line-height: 41px;
  text-align: center;
  background-color: inherit;
  margin: 63px 0px 23px;
}
.form-contact-us {
  display: flex;
  justify-content: center;
}
.form-contact-us h4 {
  font-size: 13px;
  letter-spacing: -0.07px;
  line-height: 18px;
  color: var(--grey-dark-1);
  margin-bottom: 4.5px;
}

#first_name {
  grid-area: first_name;
}
#last_name {
  grid-area: last_name;
}
#email {
  grid-area: email;
}
#phone_number {
  grid-area: phone_number;
}
#description {
  grid-area: description;
}
#check_send_email {
  display: inline-block;
  color: #1d2121;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: -0.09px;
  line-height: 22px;
  grid-area: check_send_email;
  margin-bottom: 54px;
}
#check_send_email input {
  box-sizing: border-box;
  height: 21px;
  width: 21px;
  border: 2px solid #bec6c6;
  border-radius: 2px;
}
#submit {
  grid-area: submit;
  text-align: center;
}
#submit button {
  color: var(--header-color);
  height: 40px;
  width: 171px;
  border: 1px solid var(--azure-radiance);
  border-radius: 2px;
  background-color: var(--azure-radiance);
}
.form-contact-us form {
  width: var(--width-standard-content);
  padding: 46px 29px 46px 29px;
  margin-bottom: 106px;
  background-color: var(--header-color);
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, calc(30vw - 29px));
  column-gap: 5vh;
  row-gap: 46px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.04);

  grid-template-areas:
    "first_name last_name"
    "email phone_number"
    "description description"
    "check_send_email check_send_email"
    "submit submit";
}

@media (max-width: 1370px) {
  .top-news .tops-news-container {
    display: grid;
    width: var(--width-standard-content);
    grid-template-columns: var(--width-standard-content);
    column-gap: 0px;
  }

  .top-news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .top-news .tops-news-container {
    display: grid;
    width: var(--width-standard-content);
    grid-template-columns: 100%;
    column-gap: 10vw;
    row-gap: 110px;
    font-size: 21px;
    letter-spacing: -0.11px;
    line-height: 28px;
    background-color: var(--header-color);
  }
  .news-item {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 70%;
    padding: 10% 0px 0px 0px;
  }
  .news-item-image {
    text-align: center;
  }
  .news-item-image img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  header {
    height: var(--height-nav);
  }
  .burger {
    width: 100%;
    display: block;
  }
  .burger .btn-menu {
    display: block;
    padding: 22px;
    background-color: var(--header-color);
  }
  .burger .btn-menu span {
    color: var(--fonts-color);
  }
  header nav {
    background-color: var(--header-color);
    width: 70vw;
    position: fixed;
    transition: all 300ms;
    left: -100%;
    box-shadow: 0 2px 2px 0 var(--box-shadows);
  }
  header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  nav ul li {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
  }
  nav ul li ul {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--header-color);
    z-index: 1;
    left: -99999em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  }
  nav ul li ul li {
    padding: 1vw;
  }
  nav ul li:hover > ul {
    left: 0px;
    margin-top: 15vh;
    max-width: 50%;
  }
  nav ul li:last-child {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .content-avatar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .content-avatar span {
    min-width: 5px;
    padding: 8px 16px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    background: var(--avatar-color);
    color: var(--header-color);
    display: none;
  }
  .nav-active {
    left: 0;
  }
  .top-news .tops-news-container {
    display: grid;
    width: var(--width-standard-content);
    grid-template-columns: var(--width-standard-content);
    column-gap: 0px;
  }

  .top-news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .top-news .tops-news-container {
    display: grid;
    width: var(--width-standard-content);
    grid-template-columns: 100%;
    column-gap: 10vw;
    row-gap: 110px;
    font-size: 21px;
    letter-spacing: -0.11px;
    line-height: 28px;
    background-color: var(--header-color);
  }
  .news-item {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    padding: 10% 0px 0px 0px;
  }
  .news-item-image {
    text-align: center;
  }
  .news-item-image img {
    width: 60%;
  }
  .form-contact-us form {
    width: var(--width-standard-content);
    padding: 4% 0px 4% 0px;
    margin-bottom: 106px;
    background-color: var(--header-color);
    display: grid;
    grid-template-columns: calc(var(--width-standard-content) - 29px);
    justify-content: center;
    column-gap: 5vh;
    row-gap: 46px;
    grid-template-areas:
      "first_name"
      "last_name"
      "email"
      "phone_number"
      "description"
      "check_send_email"
      "submit";
  }
}
